# Dataset Source

https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

Baca terlebih dahulu dokumentasi teknis yang tertera pada README.md pada link berikut, https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data

Adapun Data Fetcher dan juga langkah-langkah Data Cleaning pada task ini merujuk pada dokumentasi teknis ini.

# Data Fetcher

In [1]:
import os
from datetime import datetime
from ariandy_stage0 import pwd
from ariandy_stage0 import today
from ariandy_stage0 import found_or_make_directory
from ariandy_stage0 import fetcher
from ariandy_stage0 import garbage_crusher
from ariandy_stage0 import column_eliminator
from ariandy_stage0 import pattern_checker_report
from ariandy_stage0 import convert_a
from ariandy_stage0 import convert_c
from ariandy_stage0 import higher_order_converter

pwd()
os.chdir('..')
pwd()
found_or_make_directory('datasets')
os.chdir('datasets')
pwd()
found_or_make_directory('fetched')
os.chdir('fetched')
pwd()
print('-'*80+'> Directory Recognition selesai')

url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/'
url += 'csse_covid_19_data/csse_covid_19_daily_reports/'
fetcher(url, today(datetime.utcnow()))
print('-'*80+'> Data Fetching selesai')

garbage_crusher('tmp')
print('-'*80+'> Garbage Crushing selesai')
print('-'*80+'> Finish')
os.chdir('..')
pwd()

Anda berada pada direktori collab-module-2-pwdk-ds/prototype
Anda berada pada direktori collab-module-2-pwdk-ds
Cek keberadaan direktori datasets ...
Direktori datasets ditemukan !
Anda berada pada direktori collab-module-2-pwdk-ds/datasets
Cek keberadaan direktori fetched ...
Direktori fetched ditemukan !
Anda berada pada direktori collab-module-2-pwdk-ds/datasets/fetched
--------------------------------------------------------------------------------> Directory Recognition selesai
Fetching dimulai ...
Fetching selesai !
--------------------------------------------------------------------------------> Data Fetching selesai
Periksa keberadaan file dengan ekstensi .tmp ...
Tidak ada file dengan extensi .tmp !
--------------------------------------------------------------------------------> Garbage Crushing selesai
--------------------------------------------------------------------------------> Finish
Anda berada pada direktori collab-module-2-pwdk-ds/datasets

# Merging the CSV

In [2]:
import glob
import pandas as pd

all_filenames = [i for i in glob.glob('fetched/*.csv')]
merged_csv = pd.concat([pd.read_csv(f) for f in all_filenames])
merged_csv.to_csv("merged.csv", index=False, encoding='utf-8-sig')

# Load merged CSV

In [3]:
df = pd.read_csv('merged.csv', low_memory=False)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio,Latitude,Longitude
0,Hubei,Mainland China,1/28/20 23:00,3554.0,125.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Guangdong,Mainland China,1/28/20 23:00,207.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Zhejiang,Mainland China,1/28/20 23:00,173.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Henan,Mainland China,1/28/20 23:00,168.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Hunan,Mainland China,1/28/20 23:00,143.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642269,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,Unknown,Colombia,2020-07-17 22:34:48,NaN,NaN,0.0,"Unknown, Colombia",NaN,NaN,NaN,NaN
642270,NaN,NaN,NaN,1.0,0.0,0.0,2070.0,Dillingham,Alaska,US,2020-07-17 18:35:12,59.796037,-158.238194,1.0,"Dillingham, Alaska, US",20.341741,0.0,NaN,NaN
642271,NaN,NaN,NaN,13.0,0.0,13.0,NaN,NaN,Grand Princess,Canada,2020-07-13 12:34:33,NaN,NaN,0.0,"Grand Princess, Canada",NaN,0.0,NaN,NaN
642272,NaN,NaN,NaN,1.0,0.0,0.0,16061.0,Lewis,Idaho,US,2020-07-10 02:34:22,46.233153,-116.434146,1.0,"Lewis, Idaho, US",26.055237,0.0,NaN,NaN
642273,NaN,NaN,NaN,0.0,0.0,0.0,41069.0,Wheeler,Oregon,US,2020-07-06 19:33:59,44.726982,-120.028143,0.0,"Wheeler, Oregon, US",0.000000,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642274 entries, 0 to 642273
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Province/State       4393 non-null    object
 1   Country/Region       7655 non-null    object
 2   Last Update          7655 non-null    object
 3   Confirmed            642246 non-null  float64
 4   Deaths               641796 non-null  float64
 5   Recovered            641849 non-null  float64
 6   FIPS                 540126 non-null  float64
 7   Admin2               541199 non-null  object
 8   Province_State       604037 non-null  object
 9   Country_Region       634619 non-null  object
 10  Last_Update          634619 non-null  object
 11  Lat                  622641 non-null  float64
 12  Long_                622641 non-null  float64
 13  Active               634403 non-null  float64
 14  Combined_Key         634619 non-null  object
 15  Incidence_Rate       411447 non-null  float64
 16  Case-Fatality_Ratio  414069 non-null  float64
 17  Latitude             4799 non-null    float64
 18  Longitude            4799 non-null    float64
dtypes: float64(11), object(8)
memory usage: 93.1+ MB

Data di atas masih dalam keadaan mentah. Ada beberapa hal yang harus kita lakukan pada hasil merger dari banyak dataset tersebut.

**Step-1**, ada beberapa kolom yang redundan. Yang mana kolom redundan ini adalah sebagai berikut.
- 'Province/State' <---> 'Province_State'
- 'Country/Region' <---> 'Country_Region'
- 'Lat' <---> 'Latitude'
- 'Long_' <---> 'Longitude'
- 'Last Update' <---> 'Last_Update'

Tugas awal kita adalah,
- Lakukan sinkronisasi data dari kedua kolom tersebut. (1a)
- Hapus salah satu kolom yang redundant, **dengan catatan**, pastikan kedua kolom yang redundant haruslah tersinkronisasi valuenya. (1b)

**Step-2**
- Isi NaN pada kolom 'FIPS' dengan 0.0 dan isi NaN pada 'Admin2' dengan 'Unknown'. Kolom ini saya sebut sebagai "US-only related columns", karena 2 kolom ini hanya berlaku dan diperuntukkan untuk regional US. Oleh karena itu, kolom 'FIPS' yang bernilai 0.0 dan juga kolom 'Admin2' yang bernilai 'Unknown' menujukkan bahwa baris tersebut bukan dari regional US (2a)
- Drop column 'Combined_Key'. Pada dokumentasi teknis yang terbaru, kolom ini sudah tidak tertera lagi. (Meskipun nantinya kolom ini akan di-regenerate kembali untuk keperluan tertentu). (2b)

**Step-3**
- Isi NaN pada column 'Province_State' dengan 'Unknown'. (3a)
- Ubah 'Mainland China' menjadi 'China' (agar tidak redundant semisal diubah menjadi time series). (3b)
- Rapikan posisi columns. (3c)

**Step-4**,membuat semua format penanggalan pada 'Last_Update' menjadi MM/DD/YYYY HH:mm:ss (format 24 jam).
Konvensi pengisian tanggal pada dataset ini sudah beberapa kali melakukan pergantian format penanggalan. Oleh karenanya, format penanggalan yang ada pada kolom 'Last_Update' menjadi heterogen. Untuk itu, kita perlu ubah formatnya mengikuti konvensi terakhir yang digunakan oleh dokumentasi teknis.

Step-4 ini akan dipecah menjadi beberapa Act, yaitu bagian-bagian yang (pada awalnya) dijalankan secara gradual (per cell), sampai semua kondisinya terpenuhi, sehingga selanjutnya bisa dijalankan secara utuh.

- **Act-0** : Buat 1 kolom baru (lu_temp) dengan nilai default 'N'.
- **Act-1** : Snip terlebih dahulu semua format yang di dapat pertama kali. Ini dapat dilakukan dengan cara mengambil beberapa baris pertama yang nilai 'lu_temp'nya adalah 'N'
- **Act-2** : Tulis secara gradual semua ekspresi Regex yang ditemukan pada Act-1
- **Act-3** : Lakukan filter dengan Regex matcher. Jika belum menemukan nilai True dan counter bernilai 0, kembali ke Act-1. Jika sudah menemukan nilai True dan counter bernilai 0, lanjut ke Act-Last.
- **Act-Last** : Aktifkan '%%script false --no-raise-error' pada Act-1 dan Act-3

Di tahap ini, Act sudah bisa dijalankan seperti biasanya. Lalu selanjutnya yang harus dilakukan.
- **Converter** : Membuat converter untuk setiap Regex pattern yang ditemukan.
- **Last Filter** : Salin script dari Act-3, namun dengan '%%script false --no-raise-error' yang dinonaktifkan. Lakukan filter terakhir dengan script ini untuk memastikan semua telah terkonversi.
- **Date Splitter** : Buat satu kolom (Date) dimana valuenya didapat dari date yang berada dari kolom 'Last_Update'. Ini berguna untuk pengolahan Data pada bagian selanjutnya.

**Step-N**, kita harus menghandle columns seperti 'Confirmed', 'Deaths', 'Recovered', 'Lat', 'Long_', 'Active', 'Incidence_Rate', 'Case-Fatality_Ratio', sampai akhirnya siap untuk diolah.

# Step-1

In [5]:
# 1a dan 1b sudah disatukan dalam fungsi column_eliminator()

origin = ['Province/State', 'Country/Region', 'Last Update', 'Latitude', 'Longitude']
target = ['Province_State', 'Country_Region', 'Last_Update', 'Lat', 'Long_']

if len(origin) == len(target):
    for i in range(len(origin)):
        column_eliminator(df, origin[i], target[i])

Tersinkronisasi
Province/State dihapus

Tersinkronisasi
Country/Region dihapus

Tersinkronisasi
Last Update dihapus

Tersinkronisasi
Latitude dihapus

Tersinkronisasi
Longitude dihapus

# Step-2

In [6]:
# 2a
df['FIPS'].fillna(value=0.0, inplace=True)
df['Admin2'].fillna(value='Unknown', inplace=True)

# 2b
df.drop('Combined_Key', axis=1, inplace=True)

# Step-3

Sebelum melakukan mengisi NaN pada kolom ini, ada beberapa hal yang perlu diperhatikan.

Ada 3 baris data dari 'Province_State' yang bernilai 'None'.<br>
Data ini tidak saya ubah, dikarenakan saya tidak tahu apakah 'None' ini adalah sebuah nama kota (seperti kota municipality di Italy atau seperti nama sebuah daerah di Azerbaijan), atau 'None' yang dimaksud ini adalah kata 'None' dalam bahasa Inggris.

In [7]:
df[df['Province_State']=='None']

,Confirmed,Deaths,Recovered,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Active,Incidence_Rate,Case-Fatality_Ratio
18305,2.0,0.0,0.0,0.0,Unknown,None,Austria,2020-02-25T18:55:32,NaN,NaN,NaN,NaN,NaN
401301,1.0,0.0,0.0,0.0,Unknown,None,Lebanon,2020-02-21T15:33:03,NaN,NaN,NaN,NaN,NaN
408538,0.0,0.0,0.0,0.0,Unknown,None,Iraq,2020-02-23T18:23:06,NaN,NaN,NaN,NaN,NaN

Dan ada beberapa baris yang bernilai 'Unknown'.

In [8]:
df[df['Province_State']=='Unknown']

,Confirmed,Deaths,Recovered,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Active,Incidence_Rate,Case-Fatality_Ratio
6669,0.0,0.0,223638.0,0.0,Unknown,Unknown,Brazil,2020-06-03 02:33:13,NaN,NaN,-223638.0,NaN,NaN
6670,0.0,1188.0,21325.0,0.0,Unknown,Unknown,Chile,2020-06-03 02:33:13,NaN,NaN,-22513.0,NaN,NaN
6671,50.0,0.0,0.0,0.0,Unknown,Unknown,Colombia,2020-06-03 02:33:13,NaN,NaN,50.0,NaN,0.000000
6672,1514.0,1.0,0.0,0.0,Unknown,Unknown,Germany,2020-06-03 02:33:13,NaN,NaN,1513.0,NaN,0.066050
6673,8.0,0.0,0.0,0.0,Unknown,Unknown,Japan,2020-06-03 02:33:13,NaN,NaN,8.0,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
642050,502.0,18.0,0.0,0.0,Unknown,Unknown,Netherlands,2020-07-29 04:35:11,NaN,NaN,484.0,NaN,3.585657
642051,0.0,0.0,276452.0,0.0,Unknown,Unknown,Peru,2020-07-29 04:35:11,NaN,NaN,-276452.0,NaN,NaN
642052,0.0,0.0,0.0,0.0,Unknown,Unknown,Spain,2020-07-29 04:35:11,NaN,NaN,0.0,NaN,NaN
642053,34.0,0.0,0.0,0.0,Unknown,Unknown,United Kingdom,2020-07-29 04:35:11,NaN,NaN,34.0,NaN,0.000000
642269,0.0,0.0,0.0,0.0,Unknown,Unknown,Colombia,2020-07-17 22:34:48,NaN,NaN,0.0,NaN,NaN

In [9]:
# 3a
df['Province_State'].fillna('Unknown', inplace=True)

# 3b
df['Country_Region'] = df['Country_Region'].replace('Mainland China', 'China')

# 3c
df = df[['Admin2', 'Province_State', 'Country_Region', 'Last_Update', 'Lat', 'Long_',
   'Confirmed','Recovered', 'Deaths', 'Active', 'Incidence_Rate', 'Case-Fatality_Ratio']]

# Checkpoint-0

In [10]:
df.to_csv("stage-0c0.csv", index=False)

# Step-4

In [11]:
df = pd.read_csv('../datasets/stage-0c0.csv')

### Act-0

In [12]:
df['lu_temp'] = 'N'

### Act-1

In [13]:
%%script false --no-raise-error
df[df['lu_temp']=='N']['Last_Update'].head()

### Act-2

In [14]:
# 1/28/20 23:00 (Pattern A)
a = '^([1-9]|1[0-2])/([1-9]|[12][0-9]|3[01])/20 (00|[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9])$'
# 2020-07-17 22:34:48 (Pattern B) ---> Ini adalah pattern yang kita inginkan
b = '^202[0-3]-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01]) (0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])$'
# 2020-03-06T14:23:04 (Pattern C)
c = '^202[0-3]-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])$'
# 1/22/2020 17:00 (Pattern D)
d = '^[1-9]/([1-9]|[12][0-9]|3[01])/20[0-9]{2} (00|[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9])$'
pattern = [a, b, c, d]

### Act-3

In [15]:
%%script false --no-raise-error

# Buat 1 kolom baru dengan nilai default 'N'.
df['lu_temp'] = 'N'

for i in range(len(pattern)):
    pattern_checker_report(df, pattern[i])

print(len(df[df['lu_temp']=='N'])) # memastikan bahwa sudah tidak ada lagi value 'N' pada kolom 'lu_temp'

### Act-Last

Aktifkan '%%script false --no-raise-error' pada Act-1 dan Act-3

### Converter

In [16]:
df.drop('lu_temp', axis=1, inplace=True) # drop kolom 'lu_temp'
higher_order_converter(df, pattern[0], convert_a)
higher_order_converter(df, pattern[2], convert_c)
higher_order_converter(df, pattern[3], convert_a)

### Last Filter

In [17]:
# %%script false --no-raise-error

# Buat 1 kolom baru dengan nilai default 'N'.
df['lu_temp'] = 'N'

for i in range(len(pattern)):
    pattern_checker_report(df, pattern[i])

print(len(df[df['lu_temp']=='N'])) # memastikan bahwa sudah tidak ada lagi value 'N' pada kolom 'lu_temp'

[0, False]
[642274, True]
[642274, True]
[642274, True]
0

### Date Splitter

In [18]:
splitter = df.Last_Update.str.split(expand=True)
df['Date'] = splitter[0]
df.drop('lu_temp', axis=1, inplace=True) # drop kolom 'lu_temp'
df['Last_Update'] = pd.to_datetime(df['Last_Update'])

# Finish

In [19]:
import os
os.chdir('..')
os.chdir('datasets')
df.to_csv("stage-0.csv", index=False)