# Dataset Source

https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

Baca terlebih dahulu dokumentasi teknis yang tertera pada README.md pada link berikut, https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data

Adapun Data Fetcher dan juga langkah-langkah Data Cleaning pada task ini merujuk pada dokumentasi teknis ini.

# Data Fetcher

In [1]:
import os
from datetime import datetime
from ariandy_stage0 import pwd
from ariandy_stage0 import today
from ariandy_stage0 import found_or_make_directory
from ariandy_stage0 import fetcher
from ariandy_stage0 import garbage_crusher
from ariandy_stage0 import column_eliminator

pwd()
os.chdir('..')
pwd()
found_or_make_directory('datasets')
os.chdir('datasets')
pwd()
found_or_make_directory('fetched')
os.chdir('fetched')
pwd()
print('-'*80+'> Directory Recognition selesai')

url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/'
url += 'csse_covid_19_data/csse_covid_19_daily_reports/'
fetcher(url, today(datetime.utcnow()))
print('-'*80+'> Data Fetching selesai')

garbage_crusher('tmp')
print('-'*80+'> Garbage Crushing selesai')
print('-'*80+'> Finish')
os.chdir('..')
pwd()

Anda berada pada direktori collab-module-2-pwdk-ds/prototype
Anda berada pada direktori collab-module-2-pwdk-ds
Cek keberadaan direktori datasets ...
Direktori datasets ditemukan !
Anda berada pada direktori collab-module-2-pwdk-ds/datasets
Cek keberadaan direktori fetched ...
Direktori fetched ditemukan !
Anda berada pada direktori collab-module-2-pwdk-ds/datasets/fetched
--------------------------------------------------------------------------------> Directory Recognition selesai
Fetching dimulai ...
Fetching selesai !
--------------------------------------------------------------------------------> Data Fetching selesai
Periksa keberadaan file dengan ekstensi .tmp ...
Tidak ada file dengan extensi .tmp !
--------------------------------------------------------------------------------> Garbage Crushing selesai
--------------------------------------------------------------------------------> Finish
Anda berada pada direktori collab-module-2-pwdk-ds/datasets

# Merging the CSV

In [2]:
import glob
import pandas as pd

all_filenames = [i for i in glob.glob('fetched/*.csv')]
merged_csv = pd.concat([pd.read_csv(f) for f in all_filenames])
merged_csv.to_csv("merged.csv", index=False, encoding='utf-8-sig')

# Load merged CSV

In [3]:
df = pd.read_csv('merged.csv', low_memory=False)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio,Latitude,Longitude
0,Hubei,Mainland China,1/28/20 23:00,3554.0,125.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Guangdong,Mainland China,1/28/20 23:00,207.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Zhejiang,Mainland China,1/28/20 23:00,173.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Henan,Mainland China,1/28/20 23:00,168.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Hunan,Mainland China,1/28/20 23:00,143.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630407,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,Unknown,Colombia,2020-07-17 22:34:48,NaN,NaN,0.0,"Unknown, Colombia",NaN,NaN,NaN,NaN
630408,NaN,NaN,NaN,1.0,0.0,0.0,2070.0,Dillingham,Alaska,US,2020-07-17 18:35:12,59.796037,-158.238194,1.0,"Dillingham, Alaska, US",20.341741,0.0,NaN,NaN
630409,NaN,NaN,NaN,13.0,0.0,13.0,NaN,NaN,Grand Princess,Canada,2020-07-13 12:34:33,NaN,NaN,0.0,"Grand Princess, Canada",NaN,0.0,NaN,NaN
630410,NaN,NaN,NaN,1.0,0.0,0.0,16061.0,Lewis,Idaho,US,2020-07-10 02:34:22,46.233153,-116.434146,1.0,"Lewis, Idaho, US",26.055237,0.0,NaN,NaN
630411,NaN,NaN,NaN,0.0,0.0,0.0,41069.0,Wheeler,Oregon,US,2020-07-06 19:33:59,44.726982,-120.028143,0.0,"Wheeler, Oregon, US",0.000000,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630412 entries, 0 to 630411
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Province/State       4393 non-null    object
 1   Country/Region       7655 non-null    object
 2   Last Update          7655 non-null    object
 3   Confirmed            630384 non-null  float64
 4   Deaths               629934 non-null  float64
 5   Recovered            629987 non-null  float64
 6   FIPS                 530349 non-null  float64
 7   Admin2               531407 non-null  object
 8   Province_State       592679 non-null  object
 9   Country_Region       622757 non-null  object
 10  Last_Update          622757 non-null  object
 11  Lat                  611019 non-null  float64
 12  Long_                611019 non-null  float64
 13  Active               622549 non-null  float64
 14  Combined_Key         622757 non-null  object
 15  Incidence_Rate       399825 non-null  float64
 16  Case-Fatality_Ratio  402352 non-null  float64
 17  Latitude             4799 non-null    float64
 18  Longitude            4799 non-null    float64
dtypes: float64(11), object(8)
memory usage: 91.4+ MB

Data di atas masih dalam keadaan mentah. Ada beberapa hal yang harus kita lakukan pada hasil merger dari banyak dataset tersebut.

**Step-1**, ada beberapa kolom yang redundan. Yang mana kolom redundan ini adalah sebagai berikut.
- 'Province/State' <---> 'Province_State'
- 'Country/Region' <---> 'Country_Region'
- 'Lat' <---> 'Latitude'
- 'Long_' <---> 'Longitude'
- 'Last Update' <---> 'Last_Update'

Tugas awal kita adalah melakukan sinkronisasi data dari kedua kolom tersebut.

**Step-2**, hapus salah satu kolom yang redundant, **dengan catatan**, pastikan kedua kolom yang redundant haruslah tersinkronisasi valuenya.

**Step-3**, isi NaN pada kolom 'FIPS' dengan 0.0 dan isi NaN pada 'Admin2' dengan '-'. Kolom ini saya sebut sebagai "US-only related columns", karena 2 kolom ini hanya berlaku dan diperuntukkan untuk regional US. Oleh karena itu, kolom 'FIPS' yang bernilai 0.0 dan juga kolom 'Admin2' yang bernilai '-' menujukkan bahwa baris tersebut bukan dari regional US

**Step-4**, drop column 'Combined_Key'. Pada dokumentasi teknis yang terbaru, kolom ini sudah tidak tertera lagi.

**Step-5**, isi NaN pada column 'Province_State' dengan 'Unknown'.

**Step-6**, rapikan posisi columns.

**Step-7**,membuat semua format penanggalan pada 'Last_Update' menjadi MM/DD/YYYY HH:mm:ss (format 24 jam).
Konvensi pengisian tanggal pada dataset ini sudah beberapa kali melakukan pergantian format penanggalan. Oleh karenanya, format penanggalan yang ada pada kolom 'Last_Update' menjadi heterogen. Untuk itu, kita perlu ubah formatnya mengikuti konvensi terakhir yang digunakan oleh dokumentasi teknis.

**Step-N**, kita harus menghandle columns seperti 'Confirmed', 'Deaths', 'Recovered', 'Lat', 'Long_', 'Active', 'Incidence_Rate', 'Case-Fatality_Ratio'

# Step-1 & Step-2

In [5]:
column_eliminator(df, 'Province/State', 'Province_State')
column_eliminator(df, 'Country/Region', 'Country_Region')
column_eliminator(df, 'Last Update', 'Last_Update')
column_eliminator(df, 'Latitude', 'Lat')
column_eliminator(df, 'Longitude', 'Long_')

Tersinkronisasi
Province/State dihapus

Tersinkronisasi
Country/Region dihapus

Tersinkronisasi
Last Update dihapus

Tersinkronisasi
Latitude dihapus

Tersinkronisasi
Longitude dihapus

# Step-3 & Step-4

In [6]:
df['FIPS'].fillna(value=0.0, inplace=True)
df['Admin2'].fillna(value='-', inplace=True)
df.drop('Combined_Key', axis=1, inplace=True)

# Step-5

Sebelum melakukan mengisi NaN pada kolom ini, ada beberapa hal yang perlu diperhatikan.

Ada 3 baris data dari 'Province_State' yang bernilai 'None'.<br>
Data ini tidak saya ubah, dikarenakan saya tidak tahu apakah 'None' ini adalah sebuah nama kota (seperti kota municipality di Italy atau seperti nama sebuah daerah di Azerbaijan), atau 'None' yang dimaksud ini adalah kata 'None' dalam bahasa Inggris.

In [7]:
df[df['Province_State']=='None']

,Confirmed,Deaths,Recovered,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Active,Incidence_Rate,Case-Fatality_Ratio
18305,2.0,0.0,0.0,0.0,-,None,Austria,2020-02-25T18:55:32,NaN,NaN,NaN,NaN,NaN
393393,1.0,0.0,0.0,0.0,-,None,Lebanon,2020-02-21T15:33:03,NaN,NaN,NaN,NaN,NaN
400630,0.0,0.0,0.0,0.0,-,None,Iraq,2020-02-23T18:23:06,NaN,NaN,NaN,NaN,NaN

Dan ada beberapa baris yang bernilai 'Unknown'.

In [8]:
df[df['Province_State']=='Unknown']

,Confirmed,Deaths,Recovered,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Active,Incidence_Rate,Case-Fatality_Ratio
6669,0.0,0.0,223638.0,0.0,-,Unknown,Brazil,2020-06-03 02:33:13,NaN,NaN,-223638.0,NaN,NaN
6670,0.0,1188.0,21325.0,0.0,-,Unknown,Chile,2020-06-03 02:33:13,NaN,NaN,-22513.0,NaN,NaN
6671,50.0,0.0,0.0,0.0,-,Unknown,Colombia,2020-06-03 02:33:13,NaN,NaN,50.0,NaN,0.000000
6672,1514.0,1.0,0.0,0.0,-,Unknown,Germany,2020-06-03 02:33:13,NaN,NaN,1513.0,NaN,0.066050
6673,8.0,0.0,0.0,0.0,-,Unknown,Japan,2020-06-03 02:33:13,NaN,NaN,8.0,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
630188,502.0,18.0,0.0,0.0,-,Unknown,Netherlands,2020-07-29 04:35:11,NaN,NaN,484.0,NaN,3.585657
630189,0.0,0.0,276452.0,0.0,-,Unknown,Peru,2020-07-29 04:35:11,NaN,NaN,-276452.0,NaN,NaN
630190,0.0,0.0,0.0,0.0,-,Unknown,Spain,2020-07-29 04:35:11,NaN,NaN,0.0,NaN,NaN
630191,34.0,0.0,0.0,0.0,-,Unknown,United Kingdom,2020-07-29 04:35:11,NaN,NaN,34.0,NaN,0.000000
630407,0.0,0.0,0.0,0.0,-,Unknown,Colombia,2020-07-17 22:34:48,NaN,NaN,0.0,NaN,NaN

In [9]:
df['Province_State'].fillna('Unknown', inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630412 entries, 0 to 630411
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Confirmed            630384 non-null  float64
 1   Deaths               629934 non-null  float64
 2   Recovered            629987 non-null  float64
 3   FIPS                 630412 non-null  float64
 4   Admin2               630412 non-null  object
 5   Province_State       630412 non-null  object
 6   Country_Region       630412 non-null  object
 7   Last_Update          630412 non-null  object
 8   Lat                  615818 non-null  float64
 9   Long_                615818 non-null  float64
 10  Active               622549 non-null  float64
 11  Incidence_Rate       399825 non-null  float64
 12  Case-Fatality_Ratio  402352 non-null  float64
dtypes: float64(9), object(4)
memory usage: 62.5+ MB

# Step-6

In [11]:
df = df[['Admin2', 'Province_State', 'Country_Region', 'Last_Update', 'Lat', 'Long_',
   'Confirmed','Recovered', 'Deaths', 'Active', 'Incidence_Rate', 'Case-Fatality_Ratio']]

# Halt...

In [12]:
df.to_csv("stage-0.csv", index=False)

# Step-7, Step-N ...

Akan dilanjutkan pada Stage-1